body{
    background-color:#f4f4f4;
    color: #555555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.container{
    width:80%;
    margin:auto;
    overflow: hidden;
}

#main-header{
    background-color: green;
    color:#ffffff;
}

#navbar{
    background-color: #333333;
    color:#ffffff;
}

#navbar ul{
    padding:0;
    list-style: none;
}

#navbar li{
    display:inline;
}

#navbar a{
    color:#ffffff;
    text-decoration: none;
    font-size: 18ppx;
    padding-right:15px;
}

#showcase{
    background-image: url('../images/wakanda.jpg');
    background-position: center right;
    min-height:300px;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Mogra', cursive;
}

#showcase h1{
    color:#ffffff;
    font-size:50px;
    line-height: 1.6em;
    padding-top: 30px;
}

#main{
    float:left;
    width:70%;
    padding:0 30px;
    box-sizing:border-box;
}

#sidebar{
    float:right;
    width:30%;
    background: #333333;
    color:#ffffff;
    padding:10px;
    box-sizing:border-box;
    font-family: 'Farsan', cursive;
    font-size: 20px;
}

#main-footer{
    background: #333333;
    color:#ffffff;
    text-align: center;
    padding:20px;
    margin-top: 40px;
}

#list{
    float: left;
    width: 50%;
    padding: 0 30px;
    box-sizing: border-box;
}

#video{
    float: center;
    position: relative;
    left: 32.3%;
    top: 40%;
}